/* 
font-family: 'Laila', serif;
font-family: 'Rye', serif;
 */

body {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #000000;
  margin: 0; /* Убедитесь, что нет отступов по умолчанию */
  overflow: hidden; /* Чтобы избежать прокрутки, если содержимое больше экрана */
  font-family: "Laila", serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/english_fon.png);
  background-size: cover;
  z-index: -1; /* Поместите псевдоэлемент позади контента body */
  opacity: 0.5; /* Прозрачность вашего overlay, можно настроить по вашему вкусу */
}

.open {
  display: flex !important;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  background-color: #3e424b;
  color: #faf6f2;
  padding: 0 10px;
}

.header_logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #faf6f2;
  width: 50px;
  height: 50px;
}

.header_logo a {
  text-decoration: none;
  color: #faf6f2;
  font-size: 10px;
  text-align: center;
}

.header_container span {
  font-size: 10px;
}

.burger_nav {
  display: flex;
  width: 700px;
  padding: 0 20px;
}

.burger_nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.burger_nav ul li a {
  text-decoration: none;
  color: #faf6f2;
}

.burger_icon {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  width: 25px;
  height: 15px;
}

.burger_icon span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #faf6f2;
}

.burger_icon::before,
.burger_icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #faf6f2;
  transition: all 0.3s ease 0s;
}

.burger_icon::before {
  top: 0;
}
.burger_icon::after {
  bottom: 0;
}

.burger_icon.active span {
  transform: scale(0);
}

.burger_icon.active::before {
  transform: rotate(-45deg) translate(0, 50%);
  top: 50%;
}

.burger_icon.active::after {
  transform: rotate(45deg) translate(0, 50%);
  top: 50%;
}

@media (max-width: 900px) {
  .burger_icon {
    display: flex;
  }

  .burger_nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    animation: burgerAnimation 0.4s;
  }

  .burger_nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container_main {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.start_header {
  display: inline;
  margin-bottom: 10px;
  color: #00000061;
  font-size: 18px;
}

.user_answer {
  margin-bottom: 15px;
  font-size: 24px;
}

input {
  width: 200px;
  height: 28px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 7px;
  margin-right: 5px;
}

button {
  font-size: 10px;
  font-family: "Rye", serif;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px 0 10px 0;
  transition: background-color 1s ease;
  width: 35px;
  height: 30px;
}

button.green {
  background-color: green;
}

button.red {
  background-color: red;
}

.green_text {
  color: green;
}

.red_text {
  color: red;
}

.translation {
  font-size: 20px;
}

.count_answers {
  font-size: 15px;
  font-family: "Rye", serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
}

.main_button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  margin: 10px 10px 0 10px;
  background-color: rgb(117 102 87 / 16%);
  cursor: pointer;
  text-align: center;
}

.main_button a {
  text-decoration: none;
  color: #827070;
  font-size: 14px;
}
